// font family variable
$font-family-1: 'Open Sans', sans-serif;
$font-family-2: 'Raleway', sans-serif;


// bg color and color variable
$topheaderbg: #444444;
$lightbg: #f1f1f1;
$topfooterbg: #353535;
$bottomfooterbg: #555555;

$light: #dddddd;
$dark: #222222;
$brand-color: #de4644;
// bg color and color variable End

// overlay variable
$ovrlay-col: #000;

$overlay60: rgba($ovrlay-col, 0.6);
$overlay70: rgba($ovrlay-col, 0.7);
$overlay80: rgba($ovrlay-col, 0.8);
